version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/node:10.15-browsers

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run:
          name: install dependencies
          command: |
            sudo npm install -g yarn
            sudo chmod +x /usr/local/bin/yarn
            yarn install

      - save_cache:
          paths:
            - node_modules
            - v1-dependencies-{{ checksum "package.json" }}
          key: v1-dependencies-{{ checksum "package.json" }}

      # run tests!
      - run: yarn test

      # collect reports
      - store_test_results:
          path: /tmp/test-results
      - store_artifacts:
          path: /tmp/test-results
          destination: test-results
